:root {
	--color-light: 200, 200, 200;
	--color-dark: 10, 10, 10;
}

body,
.bulb {
	margin: 0;
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bulb {
	margin: 0;
	position: relative;
	background: red;
	overflow: visible;
	transform-origin: top;
	animation: swing infinite 1s ease-in-out alternate;
}

.bulb-head {
	position: relative;
	width: 10vw;
	height: 10vw;
	background: radial-gradient(rgb(var(--color-light)), gray);
	border-radius: 40% 40% 50% 50%;
	border-radius: 50%;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.bulb-head:checked {
	background: radial-gradient(yellow, orange);
	box-shadow: 0 0 50px orange;
}



.cable {
	position: absolute;
	width: 5px;
	height: 50vh;
	top: 0;
	left: calc(50% - 2.5px);
	background: #505050;
	z-index: -1;
}

.bulb-head::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 40%;
	top: -33%;
	left: 25%;
	background: linear-gradient(
		gray 20%,
		#505050 20%,
		#505050 32%,
		gray 32%,
		gray 44%,
		#505050 44%,
		#505050 56%,
		gray 56%,
		gray 68%,
		#505050 68%,
		#505050 80%,
		gray 80%
	);
}

@keyframes swing {
	from {
		-moz-transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
	}
	to {
		transform: rotate(-3deg);
	}
}

@keyframes switchOn {
	0%,
	100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(5vw);
	}
}

.bg {
	position: fixed;
	height: 500vw;
	width: 500vw;
	background: rgb(var(--color-dark));
	z-index: -2;
	transition: all 0.4s;
}

.bulb-head:checked + .bg {
	background: rgb(var(--color-light));
}

.rope-container {
	position: absolute;
	left: calc(50% + 5px);
	top: calc(50% - 9vw);
}

.rope {
	position: absolute;
	width: min(1vw, 5px);
	height: 2vw;
	top: 50%;
	left: calc(50% - 2.5px);
	background: #4f2a0d;
	animation: swing infinite 1s ease-in-out alternate;
	animation-delay: 0.6s;
	z-index: 1;
}

.dot {
	position: absolute;
	width: 2vh;
	height: 2vh;
	bottom: 0;
	left: -50%;
	background: #6b6b6b;
	border-radius: 25% 25% 50% 50%;
}
